body {
    background-image: url("paper.png");
    background-size: cover;
}
.message {
    background: #fff !important;
    font-family: 'Caveat', cursive !important;
    font-size: 1.2em !important;
    border: 2px solid #6d4c41 !important;
    /* box-shadow: 5px 5px 0 #6d4c41 !important; */
    color: #3e2723 !important;
}

#messageInput {
    background: #fff !important;
    border: 2px solid #6d4c41 !important;
    color: #3e2723 !important;
}

button {
    background: #6d4c41 !important;
}