body {
    background: #07021c !important;
}

.message {
    background: rgba(47, 5, 58, 0.582) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
    backdrop-filter: blur(5px);
}

#messageInput {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

button {
    background: #4a148c !important;
}